:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --main-dark: #2e2f42;
  --main-text-color: #434455;
  --background-hero-color: #2e2f42;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --main-font: "Roboto", "Intro", "Comfortaa", sans-serif;
  --secondary-font: "Raleway", "Intro", "Comfortaa", sans-serif;
  --secondary-light-color: #ffffff;
}

body {
  font-family: var(--main-font);
  color: var(--main-dark);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* header */

.header {
  border-bottom: 1px solid var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-dark);
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.logo {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-dark);
  margin-right: 76px;
}

.logo:visited {
  color: var(--main-dark);
}
.logo-accent {
  color: var(--primary-brand-color);
}
.logo-accent:visited {
  color: var(--primary-brand-color);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* .header-item:not(:last-child) {
  margin-right: 40px;
} */

/* .header-link {} */

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-color);
}

/* .header-address { } */

.header-address-list {
  display: flex;
  align-items: center;
}

.header-mail {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  }

.header-mail:hover,
.header-mail:focus {
  color: var(--pressed-state-color);
}

.header-tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-left: 40px;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--pressed-state-color);
}

/* footer */
.footer {
  background-color: var(--main-dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: var(--light-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-accent {
  color: var(--primary-brand-color);
}

.footer-text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  max-width: 264px;
}

/* INDEX.HTML */

/* hero section */

.hero {
  background-color: var(--background-hero-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--secondary-light-color);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  min-width: 169px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  color: var(--secondary-light-color);

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
}

/* advantages */

.advantages {
  padding-bottom: 0;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.advantage-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  max-width: 264px;
}

/*  стара версія для 
  gap: 24px;

  це 

.advantage-item:not(:last-child) {
  margin-right: 24px;
} */

.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-top: 8px;
}

/* about */
/* can be used later     .about {} */
.about-title {
  text-align: center;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 24px;
  width: 100%;
}

.about-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  max-width: 360px;
}

/* .about-item:not(:last-child) {
  margin-right: 24px;
} */

/* Team */

.team {
  background-color: var(--light-color);
}

.team-title {
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 24px;
  width: 100%;
}

.team-item {
  background-color: var(--secondary-light-color);
  border: 1px solid var(--accent-color);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}

.team-item-text-part {
  padding: 32px 16px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-top: 8px;
}

/* /INDEX.HTML */

/* PORTFOLIO.HTML */
.main-container {
  padding-top: 96px;
  padding-bottom: 72px;
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

/* .button-item { } */

.button-item:not(:last-child) {
  margin-right: 24px;
}

/* .gallery-container {
    
  } */

.gallery-button {
  font-family: inherit;
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  cursor: pointer;
  padding: 12px 24px;
}

.gallery-button:hover,
.gallery-button:focus {
  background-color: var(--pressed-state-color);
  color: var(--secondary-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-container {
  padding-bottom: 120px;
}

.photo-gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  width: 100%;
}

/*  стара версія для 
  column-gap: 24px;
  row-gap: 48px;
це 

.photo-gallery-list:not(:ntn-child(3n)) {
  margin-right: 24px;
}
.photo-gallery-list:not(:ntn-last-child(-n + 3)) {
  margin-bottom: 48px;
} */

/*   column-gap: 24px;
  row-gap: 48px;  
  =
  gap = 48px 24px*/

.photo-gallery-item {
  background-color: var(--secondary-light-color);
  flex-basis: calc((100% - 2 * 24px) / 3);
  overflow: hidden;
  max-width: 360px;
}

.gallery-item-text-part {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.gallery-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-dark);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-top: 8px;
}
